.header {
    background-color: #ED5353;
    color: white;
    margin: 0; /* Remove margin */
    padding: 1rem 5vw; /* Adjust padding if necessary */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 50px 50px;
    position: fixed;
    top: 0; /* Fixes header to top */
    left: 0; /* Aligns it to the left */
    right: 0; /* Aligns it to the right */
    height: 70px; /* Define a height for the header */
    z-index: 1000; /* Ensure it's on top */
}

.shape1 {
    position: absolute;
    top: -40px; /* Adjust based on header height */
    left: 40vw;
}

.shape2 {
    height: 17.5vh;
    position: absolute;
    top: -40px; /* Adjust based on header height */
    left: 70vw;
}

.btnGroup {
    width: 15%;
    display: flex;
    align-items: center; /* Align buttons vertically */
    justify-content: space-around; /* Space buttons evenly */
    margin-top: 0.5rem;
    z-index: 10;
}

button.login {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}

button.register {
    background-color: white;
    color: #ED5353;
    border: 2px solid white;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}