.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.container2 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60vw;
    height: auto;
}

.imageStyle {
    width: 100%;
    height: auto;
}

.imageTextStyle {
    position: absolute;
    top: 10;
    right: 0;
    left: 0;
    color: #FFFFFF;
    text-align: center;
    font-size: 2rem;
}

.heading {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    color: #000000;
    margin-bottom: 1rem;
    text-decoration: underline;
}