@import '../src/colors/colors.css';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

p {
  font-size: large;
  color: black;
}

/* Style for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px; /* Round track corners */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 10px; /* Round thumb corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}

/* Style for Firefox */
html {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: var(--primary-color) #f1f1f1; /* Thumb color and track color */
}
